logs
target
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/.vscode 
/RUNNING_PID
.dotty-ide-artifact
.dotty-ide.json

bin/
/db/data
.eclipse
/lib/
/logs/
/modules
/project/target
/target
project/project/
tmp/
test-result
server.pid
*.eml
/dist/
.cache
*.rdb
.DS_Store
.tag*
app/services/redis/
/logs/application.log
*.swp
*.bps
